body {
  margin: 0;
  background: #1e1e1e;
}

#mapa-container {
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 20px auto;
  background: #3c6e3c; /* fondo temporal */
  overflow: hidden;
}

#capa-rutas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}